#body{
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
}

main{
    display: grid;
    place-items: center;
    min-height: 100vh;
    position: relative;
}

.eye{
    width: 32px;
    border-radius: 50%;
    
}

#eyes, #eyes img{
    position: absolute;
}